@model IEnumerable<UrlControlProject.Models.UrlControl>


<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>

    <script type="text/javascript">
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    </script>
</head>

<div style="text-align:center" class="alert alert-secondary" role="alert">
    <h2>Web Servisler</h2>
</div>

<div id="yenile">
    <table class="table">
        <thead class="alert alert-secondary">
            <tr>
                <th>
                    Url Adı
                </th>
                <th>
                    Url
                </th>
                <th>
                    Durum Kodu
                </th>
                <th>
                    Son İstek Atılan Tarih
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewData["UrlName"]
                </td>
                <td>
                    @ViewData["Url"]
                </td>
                <td>
                    @ViewData["StatusCode"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["UrlName2"]
                </td>
                <td>
                    @ViewData["Url2"]
                </td>
                <td>
                    @ViewData["StatusCode2"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["UrlName3"]
                </td>
                <td>
                    @ViewData["Url3"]
                </td>
                <td>
                    @ViewData["StatusCode3"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName4"]
                </td>
                <td>
                    @ViewData["Url4"]
                </td>
                <td>
                    @ViewData["StatusCode4"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName5"]
                </td>
                <td>
                    @ViewData["Url5"]
                </td>
                <td>
                    @ViewData["StatusCode5"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName6"]
                </td>
                <td>
                    @ViewData["Url6"]
                </td>
                <td>
                    @ViewData["StatusCode6"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName7"]
                </td>
                <td>
                    @ViewData["Url7"]
                </td>
                <td>
                    @ViewData["StatusCode7"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName8"]
                </td>
                <td>
                    @ViewData["Url8"]
                </td>
                <td>
                    @ViewData["StatusCode8"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName9"]
                </td>
                <td>
                    @ViewData["Url9"]
                </td>
                <td>
                    @ViewData["StatusCode9"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName10"]
                </td>
                <td>
                    @ViewData["Url10"]
                </td>
                <td>
                    @ViewData["StatusCode10"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName11"]
                </td>
                <td>
                    @ViewData["Url11"]
                </td>
                <td>
                    @ViewData["StatusCode11"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName12"]
                </td>
                <td>
                    @ViewData["Url12"]
                </td>
                <td>
                    @ViewData["StatusCode12"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName13"]
                </td>
                <td>
                    @ViewData["Url13"]
                </td>
                <td>
                    @ViewData["StatusCode13"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName14"]
                </td>
                <td>
                    @ViewData["Url14"]
                </td>
                <td>
                    @ViewData["StatusCode14"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName15"]
                </td>
                <td>
                    @ViewData["Url15"]
                </td>
                <td>
                    @ViewData["StatusCode15"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName16"]
                </td>
                <td>
                    @ViewData["Url16"]
                </td>
                <td>
                    @ViewData["StatusCode16"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName17"]
                </td>
                <td>
                    @ViewData["Url17"]
                </td>
                <td>
                    @ViewData["StatusCode17"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName18"]
                </td>
                <td>
                    @ViewData["Url18"]
                </td>
                <td>
                    @ViewData["StatusCode18"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName19"]
                </td>
                <td>
                    @ViewData["Url19"]
                </td>
                <td>
                    @ViewData["StatusCode19"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName20"]
                </td>
                <td>
                    @ViewData["Url20"]
                </td>
                <td>
                    @ViewData["StatusCode20"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName21"]
                </td>
                <td>
                    @ViewData["Url21"]
                </td>
                <td>
                    @ViewData["StatusCode21"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName22"]
                </td>
                <td>
                    @ViewData["Url22"]
                </td>
                <td>
                    @ViewData["StatusCode22"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName23"]
                </td>
                <td>
                    @ViewData["Url23"]
                </td>
                <td>
                    @ViewData["StatusCode23"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName24"]
                </td>
                <td>
                    @ViewData["Url24"]
                </td>
                <td>
                    @ViewData["StatusCode24"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName25"]
                </td>
                <td>
                    @ViewData["Url25"]
                </td>
                <td>
                    @ViewData["StatusCode25"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName26"]
                </td>
                <td>
                    @ViewData["Url26"]
                </td>
                <td>
                    @ViewData["StatusCode26"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName27"]
                </td>
                <td>
                    @ViewData["Url27"]
                </td>
                <td>
                    @ViewData["StatusCode27"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName28"]
                </td>
                <td>
                    @ViewData["Url28"]
                </td>
                <td>
                    @ViewData["StatusCode28"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName29"]
                </td>
                <td>
                    @ViewData["Url29"]
                </td>
                <td>
                    @ViewData["StatusCode29"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName30"]
                </td>
                <td>
                    @ViewData["Url30"]
                </td>
                <td>
                    @ViewData["StatusCode30"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName31"]
                </td>
                <td>
                    @ViewData["Url31"]
                </td>
                <td>
                    @ViewData["StatusCode31"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName32"]
                </td>
                <td>
                    @ViewData["Url32"]
                </td>
                <td>
                    @ViewData["StatusCode32"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName33"]
                </td>
                <td>
                    @ViewData["Url33"]
                </td>
                <td>
                    @ViewData["StatusCode33"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName34"]
                </td>
                <td>
                    @ViewData["Url34"]
                </td>
                <td>
                    @ViewData["StatusCode34"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName35"]
                </td>
                <td>
                    @ViewData["Url35"]
                </td>
                <td>
                    @ViewData["StatusCode35"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName36"]
                </td>
                <td>
                    @ViewData["Url36"]
                </td>
                <td>
                    @ViewData["StatusCode36"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName37"]
                </td>
                <td>
                    @ViewData["Url37"]
                </td>
                <td>
                    @ViewData["StatusCode37"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName38"]
                </td>
                <td>
                    @ViewData["Url38"]
                </td>
                <td>
                    @ViewData["StatusCode38"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName39"]
                </td>
                <td>
                    @ViewData["Url39"]
                </td>
                <td>
                    @ViewData["StatusCode39"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName40"]
                </td>
                <td>
                    @ViewData["Url40"]
                </td>
                <td>
                    @ViewData["StatusCode40"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName41"]
                </td>
                <td>
                    @ViewData["Url41"]
                </td>
                <td>
                    @ViewData["StatusCode41"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName42"]
                </td>
                <td>
                    @ViewData["Url42"]
                </td>
                <td>
                    @ViewData["StatusCode42"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName43"]
                </td>
                <td>
                    @ViewData["Url43"]
                </td>
                <td>
                    @ViewData["StatusCode43"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName44"]
                </td>
                <td>
                    @ViewData["Url44"]
                </td>
                <td>
                    @ViewData["StatusCode44"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName45"]
                </td>
                <td>
                    @ViewData["Url45"]
                </td>
                <td>
                    @ViewData["StatusCode45"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName46"]
                </td>
                <td>
                    @ViewData["Url46"]
                </td>
                <td>
                    @ViewData["StatusCode46"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName47"]
                </td>
                <td>
                    @ViewData["Url47"]
                </td>
                <td>
                    @ViewData["StatusCode47"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName48"]
                </td>
                <td>
                    @ViewData["Url48"]
                </td>
                <td>
                    @ViewData["StatusCode48"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName49"]
                </td>
                <td>
                    @ViewData["Url49"]
                </td>
                <td>
                    @ViewData["StatusCode49"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName50"]
                </td>
                <td>
                    @ViewData["Url50"]
                </td>
                <td>
                    @ViewData["StatusCode50"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>
            <tr>
                <td>
                    @ViewData["UrlName51"]
                </td>
                <td>
                    @ViewData["Url52"]
                </td>
                <td>
                    @ViewData["StatusCode53"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName54"]
                </td>
                <td>
                    @ViewData["Url54"]
                </td>
                <td>
                    @ViewData["StatusCode54"]
                </td>
                <td>
                    @DateTime.Now
                </td>
            </tr>

            <tr>
                <td>
                    @ViewData["UrlName55"]
                </td>
                <td>
                    @ViewData["Url55"]
                </td>
                <td>
                    @ViewData["StatusCode55"]
                </td>
                <td>
                    @DateTime.Now
                </td>

            </tr>

            @*<tr>
                    <td>
                        @ViewData["UrlName56"]
                    </td>
                    <td>
                        @ViewData["Url56"]
                    </td>
                    <td>
                        @ViewData["StatusCode56"]
                    </td>

                </tr>

                <tr>
                    <td>
                        @ViewData["UrlName57"]
                    </td>
                    <td>
                        @ViewData["Url57"]
                    </td>
                    <td>
                        @ViewData["StatusCode57"]
                    </td>

                </tr>

                <tr>
                    <td>
                        @ViewData["UrlName58"]
                    </td>
                    <td>
                        @ViewData["Url58"]
                    </td>
                    <td>
                        @ViewData["StatusCode58"]
                    </td>

                </tr>*@




        </tbody>
    </table>
</div>